@import "~bootstrap/scss/bootstrap";  

body{ 
    font-family: 'Work Sans', sans-serif !important;
}
.title{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.trash-icon{
    color:#e91e24;
}
.view-icon{
    color:#0d6efd;
}
.edit-icon{
    color:#009688;
}