
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
        <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Stock Number" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Amount</th>
                <th scope="col">Method</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">202007081</th>
                <td>Pineaple</td>
                <td>2</td>
                <td>API</td>
            </tr>
            <tr>
                <th scope="row">202007082</th>
                <td>Aple</td>
                <td>4</td>
                <td>APP</td>
            </tr>
            <tr>
                <th scope="row">202007082</th>
                <td>Aple</td>
                <td>4</td>
                <td>APP</td>
            </tr>
            <tr>
                <th scope="row">202007082</th>
                <td>Aple</td>
                <td>4</td>
                <td>APP</td>
            </tr>
            <tr>
                <th scope="row">202007082</th>
                <td>Aple</td>
                <td>4</td>
                <td>APP</td>
            </tr>
        </tbody>
    </table>
    <%= link_to products_path do %>
        <button type="button" class="btn btn-success btn-l"> PRODUCTS </button>
    <% end %>

    <%= link_to promotions_path do %>
        <button type="button" class="btn btn-primary btn-r"> PROMOTIONS </button>
    <% end %>
</div>
<style>

.btn-l{
    float: left;
    position: fixed;
    bottom: 11px;
    left: 12px;
}
.btn-r{
    float: left;
    position: fixed;
    bottom: 11px;
    right: 12px;
}
</style>