<nav class="navbar navbar-light bg-light">
    <div class="container-fluid"> 
        <%= link_to "Stock's", root_path, class:"title" %>
    </div>
</nav>
<div class="container">
    <h1>Add Promotion</h1> 
    <%= render 'form', promotion: @promotion %>
</div>